.form__box {
  &:hover {
    cursor: pointer;
    .form__box__button__left-bar {
      &:after {
        background-color: #bfcdd0;
      }
    }
    .form__box__button__right-bar {
      &:after {
        background-color: #bfcdd0;
      }
    }
  }
}

.form__box__button {
  position: relative;
  justify-self: flex-end;
  align-self: center;
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  outline: none;

  &__left-bar {
    position: absolute;
    top: 46%;
    left: 6%;
    transform: rotate(45deg);
    &:after {
      content: "";
      background-color: #54585a;
      width: 10px;
      height: 2px;
      display: block;
      transition: ease 0.2s;
    }
  }

  &__right-bar {
    position: absolute;
    background-color: transparent;
    top: 46%;
    left: 42%;
    transform: rotate(-45deg);
    &:after {
      content: "";
      background-color: #54585a;
      width: 10px;
      height: 2px;
      display: block;
      transition: ease 0.2s;
    }
  }
}

.btn-rotate {
  .form__box__button__left-bar {
    &:after {
      transform: rotate(-85deg);
    }
  }
  .form__box__button__right-bar {
    &:after {
      transform: rotate(85deg);
    }
  }
}
