<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>ESTO FUNCIONA</h1>
    <form>

        <fieldset>
            <div>
                <i class="far fa-object-ungroup"></i>
                <h2>Diseña</h2>
                <button>^</button>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <i class="far fa-keyboard"></i>
                <h2>Rellena</h2>
                <button>^</button>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <i class="fas fa-share-alt"></i>
                <h2>Comparte</h2>
                <button>^</button>
            </div>
        </fieldset>
    </form>
    
</body>
</html>