<form action="/signup" method="post" class="form" role="form">
  <fieldset class="form__design column">
    <div class="form__box">
      <div class="form__box__item">
        <i class="far fa-object-ungroup icon" aria-hidden="true"></i>
        <h2 class="form__box__title" aria-label="Diseña">Diseña</h2>
      </div>
      <button class="form__box__button">
        <i class="fas fa-angle-down down"></i>
      </button>
    </div>
    <div class="form__color">
      <label for="color1" class="form__label" >Colores</label>
      <div class="form__color__box">
        <input
          type="radio"
          name="color"
          id="color1"
          class="form__color__input"
        />
        <div class="form__color__option">
          <div class="form__color__first color-box"></div>
          <div class="form__color__second color-box"></div>
          <div class="form__color__third color-box"></div>
        </div>
      </div>
    </div>
    <div class="form__color">
      <label for="color1" class="form__label"></label>
      <div class="form__color__box">
        <input
          type="radio"
          name="color"
          id="color1"
          class="form__color__input"
        />
        <div class="form__color__option">
          <div class="form__color__fourth color-box"></div>
          <div class="form__color__fifth color-box"></div>
          <div class="form__color__sixth color-box"></div>
        </div>
      </div>
    </div>
    <div class="form__color">
      <label for="color1" class="form__label"></label>
      <div class="form__color__box">
        <input
          type="radio"
          name="color"
          id="color1"
          class="form__color__input"
        />
        <div class="form__color__option">
          <div class="form__color__seventh color-box"></div>
          <div class="form__color__eighth color-box"></div>
          <div class="form__color__nineth color-box"></div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="form__fill column">
    <div class="form__box">
      <div class="form__box__item">
        <i class="far fa-keyboard icon" aria-hidden="true"></i>
        <h2 class="form__box__title" aria-label="Rellena">Rellena</h2>
      </div>
      <button class="form__box__button">
        <i class="fas fa-angle-down down"></i>
      </button>
    </div>

    <div class="form__data">
      <div class="form__data__name" aria-label="Nombre completo">
        <label for="name">Nombre completo</label>
        <input
          class="form__data__input"
          type="text"
          name="name"
          id="name"
          placeholder="Ej: Sally Jill"
        />
      </div>
      <div class="form__data__job" aria-label="Puesto">
        <label class="form__data__label" for="job">Puesto</label>
        <input
          class="form__data__input"
          type="text"
          name="job"
          id="job"
          placeholder="Ej: Front-end unicorn"
        />
      </div>

      <div class="form__data__image" aria-label="Imagen de perfil">
        <label for="image">Imagen de perfil</label>
        <input
          class="form__data__image__input js__profile-upload-btn"
          type="file"
          name="image"
          id="image"
        />
        <div class="form__data__image__buttonsbox">
          <div class="form__data__btn">
            <button
              type="button"
              class="form__data__image__btn js__profile-trigger"
              aria-label="Añadir imagen"
            >
              Añadir imagen
            </button>
          </div>
        

          <div class="form__data__image__preview js__profile-preview"></div>
        </div>
      </div>
      <div class="form__data__contact" aria-label="Contacto">
        <label class="form__data__label" for="mail">Email</label>
        <input
          class="form__data__input"
          type="email"
          name="mail"
          id="mail"
          placeholder="Ej: sally.hill@gmail.com"
        />

        <label class="form__data__label" for="phone">Teléfono</label>
        <input
          class="form__data__input"
          type="tel"
          name="phone"
          id="phone"
          placeholder="Ej: 555-55-55-55"
        />
        <label class="form__data__label" for="linkedin">Linkedin</label>
        <input
          class="form__data__input"
          type="url"
          name="linkedin"
          id="linkedin"
          placeholder="Ej: linkedin.com/in/sally-hill"
        />
        <label class="form__data__label" for="github">Github</label>
        <input
          class="form__data__input"
          type="text"
          name="github"
          id="github"
          placeholder="Ej: @sally-hill"
        />
      </div>
    </div>
  </fieldset>

  <fieldset class="form__share column">
    <div class="form__box">
      <div class="form__box__item">
        <i class="fas fa-share-alt icon" aria-hidden="true"></i>
        <h2 class="form__box__title" aria-label="Comparte">Comparte</h2>
      </div>
      <button class="form__box__button">
        <i class="fas fa-angle-down down"></i>
      </button>
    </div>
    <button type="submit" class="form__share--button" title="Crear tarjeta">
      <i class="far fa-address-card"></i>Crear tarjeta
    </button>
    <div class="form__share--message">
      <h3 class="form__box__title h3">La tarjeta ha sido creada:</h3>
      <a class="card-link" href="#" title="Link a la nueva tarjeta"
        >Link a la nueva tarjeta</a
      >
      <button class="share-twitter" title="Compartir en twitter">
        <i class="fab fa-twitter"></i>Compartir en twitter
      </button>
    </div>
  </fieldset>
</form>
