<section class="preview">


    <button type="reset" class="preview__btn" title="Reset"><i class="far fa-trash-alt"></i>Reset</button>


<article class="preview__card">

    <div class="preview__card__title">
<h2>Nombre Apellido</h2>
<h3>Front-end developer</h3>
    </div>

    <nav class="preview__card__sm" role="navigation">
<ul class="preview__card__sm__list">
<li><a href="" alt="Telephone" title="Telephone"><i class="fas fa-mobile-alt"></i></a></li>
<li><a href="" alt="Email" title="Email"><i class="far fa-envelope"></i></a></li>

<li><a href="" alt="Linkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>

<li><a href="" alt="Github" title="Github"><i class="fab fa-github-alt"></i></a></li>

</ul>

    </nav>





</article>





</section>