// Default palette

.palette-default {
  .preview__card__title__name {
    color: $colorSecondaryDark;
  }
  .preview__card__title__inner {
    border-left: solid 5px $colorSecondaryMidtone;
  }
  .preview__card__sm__list__icon {
    border: 2px solid $colorSecondaryLight;
  }
  .preview__card__sm__list__icon__link {
    color: $colorSecondaryDark;
  }
}

// First palette

.palette1 {
  .preview__card__title__name {
    color: $colorSecondaryDark;
  }
  .preview__card__title__inner {
    border-left: $colorSecondaryMidtone solid 5px;
  }
  .preview__card__sm__list__icon {
    border: 2px solid $colorSecondaryLight;
  }
  .preview__card__sm__list__icon__link {
    color: $colorSecondaryDark;
  }
}

// Second Palette

.palette2 {
  .preview__card__title__name {
    color: $colorOptionSecondDark;
  }
  .preview__card__title__inner {
    border-left: $colorOptionSecondMidtone solid 5px;
  }
  .preview__card__sm__list__icon {
    border: 2px solid $colorOptionSecondLight;
  }
  .preview__card__sm__list__icon__link {
    color: $colorOptionSecondDark;
  }
}

// Third palette

.palette3 {
  .preview__card__title__name {
    color: $colorOptionThirdDark;
  }
  .preview__card__title__inner {
    border-left: $colorOptionThirdMidtone solid 5px;
  }
  .preview__card__sm__list__icon {
    border: 2px solid $colorOptionThirdLight;
  }
  .preview__card__sm__list__icon__link {
    color: $colorOptionThirdDark;
  }
}

// Fourth palette
.nm-op4 {
  color: purple;
}
.bd-op4 {
  border-left: rgb(243, 106, 52) solid 5px;
}
.cr-op4 {
  border: 2px solid rgb(243, 106, 52);
}
.ico-op4 {
  color: purple;
}
