.first-option {
  color: $colorSecondaryDark;
}

// Second Palette
.second-option {
  color: $colorOptionSecondDark;
}

// Third palette
.third-option {
  color: $colorOptionThirdDark;
}
