//buttons
.form__share--button {
  font-family: $font__secondary;
  font-size: 18px;
  font-weight: 600;
  color: $colorTertiaryLight;
  text-transform: uppercase;
}

// footer

.copy {
  font-family: $font__secondary;
  color: $colorTertiaryDarkMidtone;
  font-size: 14px;
  line-height: 20px;
}
