// footer

.copy {
  font-family: $font__secondary;
  color: $colorTertiaryDarkMidtone;
  font-size: 14px;
  line-height: 20px;
}
.form__data__label {
  color: $colorSecondaryDark;
  font-size: 14px;
  font-weight: 600;
}
.f-main {
  font-family: $font__secondary;
}
.txt-sm {
  font-size: 14px;
}
.txt-light {
  color: $colorTertiaryDark;
}
.txt-dark {
  color: $colorSecondaryDark;
}
.txt-bright {
  color: $colorPrimary;
}
[placeholder] {
  padding: 3px 0px 7px 9px;
  font-size: 14px;
  font-family: $font__secondary;
}
