// fonts

$font__primary: "Merriweather", serif;
$font__secondary: "Open Sans", sans-serif;
$font__tertiary: "Montserrat", sans-serif;

// colors

$colorBlack: #000000;
$colorPrimary: #e17334;
$colorPrimaryDull: #e1733436;
$colorSecondaryLight: #a2deaf;
$colorSecondaryMidtone: #438792;
$colorSecondaryDark: #114e4e;
$colorTertiaryLight: #ffffff;
$colorTertiaryLightMid: #f5f5f5;
$colorTertiaryMidtoneLight: #d5d5d5;
$colorTertiaryMidtone: #d8d8d8;
$colorTertiaryMidtoneDark: #dde9ed;
$colorTertiaryDarkLight: #bfcdd0;
$colorTertiaryDarkMidtone: #6b6b6b;
$colorTertiaryDark: #54585a;
$colorOptionSecondDark: #420101;
$colorOptionSecondMidtone: #bd1010;
$colorOptionSecondLight: #e95626;
$colorOptionThirdDark: #3e5b65;
$colorOptionThirdMidtone: #eab052;
$colorOptionThirdLight: #a0c0cf;
