.form {
  &__label {
    text-transform: uppercase;
    margin-left: 19px;
  }
  &__color {
    display: flex;
    justify-content: space-between;

    &__box {
      display: flex;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    &__input {
      margin-right: 10px;
    }
    &__option {
      display: flex;
    }
    &__first {
      background-color: $colorSecondaryDark;
    }
    &__second {
      background-color: $colorSecondaryMidtone;
    }
    &__third {
      background-color: $colorSecondaryLight;
    }
    &__fourth {
      background-color: $colorOptionSecondDark;
    }
    &__fifth {
      background-color: $colorOptionSecondMidtone;
    }
    &__sixth {
      background-color: $colorOptionSecondLight;
    }
    &__seventh {
      background-color: $colorOptionThirdDark;
    }
    &__eighth {
      background-color: $colorOptionThirdMidtone;
    }
    &__nineth {
      background-color: $colorOptionThirdLight;
    }
  }
}
