.preview {
        height:457px;
        @media all and (min-width:768px){
            height: 826px;
            width:329px;
           }
       background-color: $colorTertiaryDarkLight;

       &__btn {
           width:75px;
           height:30px;
           background-color: $colorTertiaryDarkLight;
           border: solid 1px $colorTertiaryLight;
           font-family: $font__secondary;
           text-transform: uppercase;
           font-size:12px;
           border-radius: 15px;
           margin-left: 45px;
           margin-top: 30px;
           @media all and (min-width:768px){
            margin-top: 173px;
           }
           

           &__reset {
               text-transform: uppercase;
               font-size:12px;
               font-family: $font__secondary;
               padding-left:8px;
           }
        
       }

    &__card {
        background-color: $colorTertiaryLight;
        width:240px;
        height:329px;
        margin: 20px 45px;
        margin-bottom:40px;
        @media all and (min-width:768px){
            margin-bottom: 267px;
           }
    
        

    &__title {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        height:73px;
        padding-bottom: 10px;
       
        
        &__inner{
            border-left: solid 5px $colorSecondaryDark;
            height:42px;
            
        }
        

&__name {
    color: $colorSecondaryDark;
    font-family:$font__tertiary;
    font-weight: bold;
    margin-left: 15px;
    // padding-top:20px;
    font-size:18px;
}
&__job {
    color:$colorTertiaryDark;
    font-family:$font__tertiary;
    font-size:16px;
    margin-top:4px;
    margin-bottom:10px;
    margin-left: 15px;
}

 
}
  }  
            
}
.preview__card__sm{
    



&__list {
    
    display:flex;
    justify-content: space-evenly;
    padding-top:6px;
   

    &__icon {
        border: 2px solid $colorSecondaryLight;
        padding-top:4px;
        padding-left:5px;
        border-radius: 60px;
        width: 32px;
        height: 32px;

        & .mobile{
            padding-left:3px; 
        }

        & .linkedin {
            padding-left:1px;
        }

        &__link {
            color:$colorSecondaryDark;
            font-size:18px;
               
        }
        
    }
}

}


