.preview {
  height: 457px;
  @media all and (min-width: 768px) {
    height: 826px;
    width: 329px;
  }
  background-color: $colorTertiaryDarkLight;

  &__btn {
    width: 75px;
    height: 30px;
    background-color: $colorTertiaryDarkLight;
    border: solid 1px $colorTertiaryLight;
    border-radius: 15px;
    margin-left: 45px;
    margin-top: 30px;
    @media all and (min-width: 768px) {
      margin-top: 173px;
    }

    &__reset {
      padding-left: 8px;
    }
  }

  &__card {
    background-color: $colorTertiaryLight;
    width: 240px;
    height: 329px;
    margin: 20px 45px;
    margin-bottom: 40px;
    @media all and (min-width: 768px) {
      margin-bottom: 267px;
    }

    &__title {
      border-left: solid 5px $colorSecondaryDark;

      &__name {
        font-weight: bold;
        margin-left: 15px;
        padding-top: 20px;
      }
      &__job {
        margin-top: 4px;
        margin-bottom: 10px;
        margin-left: 15px;
      }
    }
  }
}
.preview__card__sm {
  margin-top: 10px;
  margin-bottom: 20px;

  &__list {
    display: flex;
    justify-content: space-around;

    &__icon {
      border: 2px solid red;
      padding: 10px;
      border-radius: 60px;
      color: $colorSecondaryDark;
      width: 32px;
      height: 32px;
    }
  }
}
